/* Board.css is for all the board related styles. These should be specific to a board or square */

.board {
  padding: 15px;
  max-width: 50%;
  margin: 2% auto;
}
.row {
  display: table;
  width: 100%;
  margin: 20px 0;
}
.row .cell {
  display: table-cell;
  text-align: center;
  width: 33%;
}
.row .cell a {
  margin: 10px;
  border: 1px #000 solid;
  border-radius: 3px;
  display: inline-block;
  height: 100%;
  width: 75%;
  font-size: 5em;
}
.row .cell a span {
  vertical-align: bottom;
}
.row .cell a .fa-times {
  color: #7ab800;
}
.row .cell a .fa-circle-o {
  color: #a5464d;
}
.directions {
  text-align: center;
  color: #252525;
}
.directions.success {
  color: #7ab800;
}
.reset {
  display: block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  border: 1px #252525 solid;
}
